workflow/Enterprise Autonomous Knowledge Execution Agent (2).json
{
  "name": "Enterprise Autonomous Knowledge Execution Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "fb4983af-1856-43d2-835b-bfc65e13d9d1",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        496
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Knowledge_RAGAssesment",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        512
      ],
      "id": "6b445af1-238d-4ade-95eb-e615356d88cf",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9NPrYzBTHTf6k1MJ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=\n",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1CCYR6QNzJMYTzxFfZuZ65ZeDsk_iXNop",
            "mode": "list",
            "cachedResultName": "Knowledge_RAGAssesment",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1CCYR6QNzJMYTzxFfZuZ65ZeDsk_iXNop"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        512
      ],
      "id": "d81a690d-2fe2-463f-a648-a9a5037b8ae6",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9NPrYzBTHTf6k1MJ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        512
      ],
      "id": "09665060-347d-4dad-ab05-017abb146a4a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9NPrYzBTHTf6k1MJ",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        512
      ],
      "id": "8c2f912c-a2ab-40c5-bce6-d65f505787ae",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        784,
        720
      ],
      "id": "6d3a2d90-7472-4b9d-983d-6b7bd1d45c0a",
      "placeholder": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        992,
        512
      ],
      "id": "b6b55041-f65b-4aa3-bbeb-db8080050a79",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1136,
        656
      ],
      "id": "0d315b08-3c89-48a6-ac7f-cb1442a5fe76",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1232,
        928
      ],
      "id": "a05a6f61-48f5-4c84-9b13-1e9cc0eabec6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        720
      ],
      "id": "722be885-fb87-4a13-b2eb-331c82736330",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1088,
        432
      ],
      "id": "ddda6b20-e3e5-4ccc-b3e7-81dd14774d70",
      "name": "When chat message received",
      "webhookId": "8f8408fa-6fae-4a8c-8f9b-f8a950cbe80c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5664f338-8bdb-4b25-b9eb-1fc5b4e695b6",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "c0cc8bee-4e6a-435d-be51-4a3537e6e9b7",
              "name": "sessionID",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "3aeec1d4-642c-481f-b89c-290a0a48e191",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        432
      ],
      "id": "709b5e09-edce-42de-bb68-d6d3ef04fef2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an Enterprise Autonomous Knowledge Execution Agent.\n\nYour role is to assist employees by retrieving information from the company's internal knowledge base, reasoning over the retrieved information, making appropriate decisions, and executing actions when required.\n\n## Rules\n\n1. Always search the internal knowledge base before answering any company-related question.\n\n2. Use ONLY information retrieved from the internal knowledge sources.\nNever invent policies or make assumptions.\n\n3. Before giving a final response:\n   - Analyze the retrieved information.\n   - Explain your reasoning.\n   - Then provide the final decision or answer.\n\n4. Determine the most appropriate action based on the user's request.\n\nExamples:\n- HR questions → Search HR Policy\n- Leave requests → Check Leave Policy and Leave Balance\n- Expense claims → Search Expense Policy\n- IT issues → Search IT Support Knowledge Base\n- Company information → Search Employee Handbook or FAQ\n\n5. If an action is required:\n   - Verify the required information.\n   - Execute the appropriate tool.\n   - Record the action in the audit log.\n   - Inform the user about what action was performed.\n\n6. If the information is incomplete, missing, or conflicting:\n   - Do NOT guess.\n   - Clearly explain what information is missing or conflicting.\n   - Ask the user for clarification if necessary.\n\n7. For critical or irreversible actions:\n   - Do not execute immediately.\n   - Request human approval before proceeding.\n\n8. Maintain a professional, concise, and helpful tone.\n\n## Response Format\n\nReasoning:\nExplain why you reached the decision using the retrieved company knowledge.\n\nAction:\nDescribe the action taken (or explain why no action was required).\n\nFinal Response:\nProvide the final answer to the user.\n\n## Available Knowledge Sources\n\n- Employee Handbook\n- HR Leave Policy\n- IT Support Knowledge Base\n- Expense & Software Access Policy\n- Company FAQ\n- Employee Database\n- Leave Balance Database\n- Audit Logs\n\nAlways retrieve relevant knowledge before answering or making any decision."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -688,
        432
      ],
      "id": "053ebd08-e746-4210-945e-8ef6add69438",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search Company Knowledge base for relevant policies and procedures before answering",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -528,
        608
      ],
      "id": "afdd4d2c-12d6-4c0c-8df4-17c79ff1f8e1",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-6",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        -832,
        640
      ],
      "id": "5abec121-cdc6-4fb0-b2f7-7db6048a3d4c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -688,
        640
      ],
      "id": "31fe9ba6-2ccb-44fd-8b2a-be7b72ad6787",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -496,
        752
      ],
      "id": "53af316f-2fd8-4015-998b-464a9ff2c7e9",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E",
          "mode": "list",
          "cachedResultName": "Assesment_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1029629173,
          "mode": "list",
          "cachedResultName": "employee_database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E/edit#gid=1029629173"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -352,
        752
      ],
      "id": "cd19758b-f393-403b-84c0-25acc47da492",
      "name": "Employee_Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p0nZLS4bEkGSFShm",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E",
          "mode": "list",
          "cachedResultName": "Assesment_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 682639213,
          "mode": "list",
          "cachedResultName": "leave_balance",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E/edit#gid=682639213"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -224,
        736
      ],
      "id": "12ea872f-1551-4082-a5b7-7828891153af",
      "name": "Leave_Balance",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p0nZLS4bEkGSFShm",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E",
          "mode": "list",
          "cachedResultName": "Assesment_logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1922238896,
          "mode": "list",
          "cachedResultName": "audit_logs.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_S3CEEMSMxP8Wqtv4Vjs7hnCLiArVpIXrf1Ecq8jL7E/edit#gid=1922238896"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -96,
        736
      ],
      "id": "55a392f7-4fbc-4a6b-a4c6-531245547670",
      "name": "audit_logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p0nZLS4bEkGSFShm",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        []
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Employee_Database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Leave_Balance": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "audit_logs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "590d734d-befe-4991-93f2-9bf8d6610435",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7890cd343d8b8d74b92c61b07792a39ab4b0adefa48bd9045965a536b66d4deb"
  },
  "nodeGroups": [],
  "id": "558xkay5ld1SQjlW",
  "tags": []
}